*.gem
*.rbc
.bundle
.config
.yardoc
/gems.locked
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
*.d
.rspec_status

spec/build/graph/listing.txt
spec/build/graph/program/dictionary-sort
